NamakAutoSummon.lua
NamakSummon.json
sUNC.d.luau
.vscode/settings.json
Places/Anime Vanguards.rbxlx
Places/Vanguards Game Base.rbxlx
sUNC/global.d.lua
sUNC/jumbo.json
UsefulScripts/GameGetOwnedUnits.lua
UsefulScripts/GameGetUnits.lua
UsefulScripts/GameHandler.lua
UsefulScripts/GetGameData.luau
UsefulScripts/GetModules.lua
UsefulScripts/hasEscanor.lua
UsefulScripts/LobbyGetUnits.lua
exec.lua
.luaurc
antiscam.lua
antiscam.lua
AutoExecKaitunRemake.lua
Kaitunbackup.lua
antiscam.lua
KaitunVersion
Teleport.lua
time.lua
Places/Anime Vanguards.rbxlx.lock
UsefulScripts/BuySummerRR.lua
UsefulScripts/disabletimechambertp.lua
UsefulScripts/gameId.lua
UsefulScripts/getmaxunits.lua
UsefulScripts/getrr.lua
UsefulScripts/KaitunRemastered.lua
UsefulScripts/purchaseexpansion.lua
UsefulScripts/Spreadsheet.lua
UsefulScripts/summerevent.lua
UsefulScripts/wiredshell_.lua
summonevent.lua
